services:
  lang_detect:
    build: ./services/lang_detect
    ports:
      - "8000:8000"
    environment:
      MODEL_PATH: /models/langid_ru_kk_model.pkl
      MODEL_META_PATH: /models/meta.json
      MIN_LEN: "5"
      PROBA_THRESHOLD: "0.60"
      RETURN_PROBA: "1"
    volumes:
      - ./models/lang_detect:/models:ro
    restart: unless-stopped

  toxicity:
    build: ./services/toxicity
    ports:
      - "8001:8001"
    environment:
      MODEL_RU_CHECKPOINT: cointegrated/rubert-tiny-toxicity
      MODEL_KZ_PATH: /models/toxicity/kaz_roberta_toxic_kz
      DEVICE: auto
      BATCH_SIZE: "64"
      MAX_LENGTH: "512"
    volumes:
      - ./models/toxicity:/models/toxicity:ro
    restart: unless-stopped
